#header.light {
  background: #fff;
}

#header.dark {
  background: hsl(209, 23%, 22%);
  color: #fff;
}
#header.dark button.btn {
  color: #fff;
}
#header h1 {
  font-weight: 800;
}
@media only screen and (max-width: 350px) {
  #header h1 {
    font-weight: 800;
    font-size: 17px;
  }
}

/* @media only screen and (max-width: 600px) {
  #header h1 {
    font-weight: 800;
    font-size: 22px;
  }
} */
